#parse( "scripts.vm" )

$h1 The Team

A successful project requires many people to play many roles. Some members 
write code or documentation, while others are valuable as testers, submitting 
patches and suggestions. The following is a list of all contributors to the 
project.

<table class="table table-condensed">
<thead>
<tr>
<th>Name</th>
<th>Email</th>
<th>URL</th>
</tr>
</thead>
<tbody>
#foreach($dev in $project.developers)
<tr>
<td>${dev.name}</td>
<td><a href="mailto:${dev.email}">${dev.email}</a></td>
<td><a href="${dev.url}">${dev.url}</a></td>
</tr>
#end
#foreach($dev in $project.contributors)
<tr>
<td>${dev.name}</td>
<td><a href="mailto:${dev.email}">${dev.email}</a></td>
<td><a href="${dev.url}">${dev.url}</a></td>
</tr>
#end
</tbody>
</table>
